name: Terraform Destroy

on:
  issues:
    types: [opened]

jobs:
  destroy:
    if: contains(github.event.issue.title, '[Terraform Destroy]')
    runs-on: ubuntu-latest
    
    env:
      AWS_ACCESS_KEY_ID: ASIAVLMQDQWB7ICPHOGZ
      AWS_SECRET_ACCESS_KEY: u6vuJi+hDdXzwlQvAwfmSZ9604xMrBLnFckqCqlr
      AWS_SESSION_TOKEN: IQoJb3JpZ2luX2VjEPz//////////wEaCXVzLXdlc3QtMiJHMEUCIADoJcDtfNyV5BXK/PmBTc/UrGPpnxyTjXNR3RvlQ+VoAiEAodqWzlCyHMi4a/vlDhvR8dYqk61YT6/D6f27ZPg01egqvwIIdRAAGgwzNjgwNTg3OTUzOTUiDNK6OEOs0ivEN9ywFCqcAoZ2viuC9vni+WNFUzMG3QRu78n9xzGdsC/+qr9i6kYWpzSMiIR5i2VWRIPJe4YB0uWpf/7aGybnOvXKEnZtB+uz2Ic6QRi2870u2K2IqM+NxaIMnMYhUzhTBn3FPgM644CJnuf8Pf1tJwtrPQyjbYbHWm8PCjMV8iAPhTgBUa3dNVSrKhH3KK6znWe7wUqf15WT8H9EwjG2txlADq93qdApj3fPwNaVOpjeV6CXn6roc1n7w14OvhP5Xs3HPPBlw/4FEOaaA/ubODYUhKBUzoIR/D0M6KK6UFO6Rb1Nxd+sXejO1/+aWc96/M11RIEk/fFQsssoG0Ti/Y3IO51eRBem7/Rr6zuKE14fdFI0vNvTm/5VLs/hEJiVjQvyMPbtn8YGOp0BdUjT/ZFROINNLAZyIpHQAcOR7ERteZU4ALDsgjGKcrUF7qEIv2OvBckmSB3IsWv6V5tSSe7NpCAuKI356waaicFKNZxKQMAgu37qFJp2dYJ5p9tV7rF59+CXALYIISaydGoIhgnebEAI2kwXNseHJj9m3Twc8mTFBalbJqWePUT9wpEDEgcbKkjhZQ1Lj6/EEa1JaUPzqS6VeVIhKA==
      AWS_DEFAULT_REGION: us-east-1  # ajuste sua região


    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve

      - name: Close Issue
        uses: peter-evans/close-issue@v3
        with:
          issue-number: ${{ github.event.issue.number }}
          comment: "✅ Infra destruída com sucesso pelo Terraform."