name: Terraform Infrastructure

on:
  push:
    branches: [ "main" ]   # executa no push na branch main
  pull_request:
    branches: [ "main" ]   # executa no PR também

jobs:
  terraform:
    name: Terraform-infra-eks-postech
    runs-on: ubuntu-latest

    env:
<<<<<<< HEAD
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
=======
      AWS_ACCESS_KEY_ID: ASIA2UC3AYA7DMGBRVCM
      AWS_SECRET_ACCESS_KEY: 9S7aT7Eh5mATNrmksTaY9tlw++v8aF1nESjja4uq
      AWS_SESSION_TOKEN: IQoJb3JpZ2luX2VjECAaCXVzLXdlc3QtMiJGMEQCIGAStapjcyHZb30DEUkAZ15yVF/jpKTBinBck8P4yKkJAiAnVhWCkeAHoET5DUK8482461B/pRycg1GCj1WUMM8TIyq3AgiZ//////////8BEAAaDDczMDMzNTMzMDM2NiIMccf4bZn9rblz7Qy8KosCmvZeG0n+lW9lz0AlOZXu7Rj7oSR1IHrUCMQSmHjLO8dbz4B5XFRCCX5BTgyukjGuzntcpJrQuuCS/w68osHfGxLpkr0xEeWYwIO1IJW83cERcyo/skYwfF7IGbpq7WQofsfJFVUyD2648n3cqF+Y3bVWmdHnSsrbF7AezCVzoOR7aDVJjfQrMKzf41x5QFczOLn2R3Wh4tkH6+/477SrOUsoMGPq+0xgWVc4UY+3G7YxnmbI/aGhQbIWe2FMTSAdJ6ZeRs3KFyo/jxPhfj3dXkvdlmw2PBbiRo+huTZ21OG/Kxe8ZGgQL8RX6otwbJ8XrqHIucsSFhqYODw+ul7jZ8AKfX+eqhC9mWApMKHpp8YGOp4B9Xw6QulrqDjfoSspRgguX4q/lb5q7xrHPTaSxZFWN0Xlx+GzK+ul3EamZN32QWEAepm0Kwh7MZUGW0EiIF6Qu+S6ESteIoV/B9HPLGJk1cWHwgPNRzcog8CNowmsqN38lvVVoBvpKsdr07ytvHnCDKoa7mBvTOET+C2wqMgmTFvJX48FoGXXdIeAXuvauaFYz8L9z8U6msYG7j/mDl4=
>>>>>>> 6db79064dc768c84d08aa1cc301fe9bca37c3673
      AWS_DEFAULT_REGION: us-east-1  # ajuste sua região

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5   # ajuste a versão que usa

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -recursive

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      # aplica só se for push na main
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve tfplan
